*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Work Sans", sans-serif;
}

#h-image{
    height: auto;
    width: 100%;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#card{
    width: 470px;
    height: auto;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    top: 10%;
    box-shadow: 2px 2px 2px 1px rgb(58, 56, 56)
}

hr{
    margin: 15px 0 15px 0;
}

  .a-align.show-answer {
    display: flex;
  }

.q-align{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.a-align{
    display: none;
}

.plus, .minus{
    width: 20px;
    cursor: pointer;
}

.ans{
    margin-top: 20px;
}

#content{
    padding: 5px;
    margin: 10px;
}


.bold{
    font-weight: bolder;
    color: rgb(0, 0, 0);
}
